body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Card */
.card {
    width: 380px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#resultado {
    margin-top: 15px;
    font-size: 16px;
}

hr {
    width: 100%;
    margin: 20px 0;
}
